.upload-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.file-label {
  margin-bottom: 10px;
}

.upload-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}
