
<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <!-- Optional content or branding on the left -->
      <div class="navbar-brand">

      </div>

      <!-- Align the dropdown to the right -->
      <div class="dropdown ms-auto">
        <!-- Button with icon to toggle dropdown -->
        <button class="btn p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon>account_circle</mat-icon>

        </button>
        <!-- Dropdown menu -->
        <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end">
          <li><a class="dropdown-item" href="#" (click)="onlogout()">Logout</a></li>

        </ul>
      </div>
    </div>
  </nav>
</header>
