<div class="container" *ngIf="isValidated">

  <div class="Reset">
    <h3>Reset Password</h3>
    <form [formGroup]="resetPasswordForm">
      <!-- New Password Field -->
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input
          type="password"
          id="newPassword"
          class="form-control"
          formControlName="newPassword"
          placeholder="Enter new password"
        />
        <div
          *ngIf="
            resetPasswordForm.controls['newPassword'].touched &&
            resetPasswordForm.controls['newPassword'].invalid
          "
          class="error-messages"
        >
          <span *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">
            New Password is required.
          </span>
          <span *ngIf="resetPasswordForm.controls['newPassword'].hasError('minlength')">
            Password must be at least 8 characters long.
          </span>
          <span *ngIf="resetPasswordForm.controls['newPassword'].hasError('pattern')">
            <p>Your password must contain:</p>
            <ul>
              <li>1 lowercase letter</li>
              <li>1 uppercase letter</li>
              <li>1 number</li>
              <li>A minimum length of 8 characters</li>
            </ul>
          </span>
        </div>
      </div>

      <!-- Confirm New Password Field -->
      <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input
          type="password"
          id="confirmNewPassword"
          class="form-control"
          formControlName="confirmNewPassword"
          placeholder="Confirm new password"
        />
        <div
          *ngIf="
            resetPasswordForm.controls['confirmNewPassword'].touched &&
            resetPasswordForm.controls['confirmNewPassword'].invalid
          "
          class="error-messages"
        >
          <span *ngIf="resetPasswordForm.controls['confirmNewPassword'].hasError('required')">
            Confirm Password is required.
          </span>
          <span
            *ngIf="
              resetPasswordForm.hasError('mismatch') &&
              resetPasswordForm.controls['confirmNewPassword'].touched
            "
          >
            Passwords do not match.
          </span>
        </div>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="resetPasswordForm.invalid"
        (click)="onResetPassword()"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>
